.Sidebar {
  height: 60%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 500px;
  background: linear-gradient(to right, #d33333 49.9%, #fff 0%);
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 25px rgba(0,0,0,0.1);
  justify-content: space-between;
  transition: .3s ease all;
  animation: drawer .3s ease;
}

@keyframes drawer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.Sidebar ul {
  padding: 0;
}

.NavigationItems {
  flex: 1 1 0;
  overflow: auto;
}

.NavigationItems::-webkit-scrollbar {
  display: none;
}

.NavigationItem {
  max-width: 240px;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.NavigationItem a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

.Icon {
  display: block;
  padding: 0 10px;
  color: #ffffff96;
}

.Label {
  color: #ffffff96;
  padding: 0px 10px;
  margin: auto 0;
  font-size: 16px;
  font-weight: bold;
}




.NavigationItem a.active .Icon,
.NavigationItem a.active .Label {
  color: #fff;
}


.NavigationItemLv2 {
  display: block;
  padding-left: 40px;
}

.SubNavigateItem {
  display: none;
}

.NavigationItem div.active .SubNavigateItem {
  display: inline-block;
  position: absolute;
  top: 10px;
}

.Link {
  color: #333;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.LabelLv2 {
  margin: auto 0;
  padding-left: 10px;
  font-size: 14px;
}

.NavigationItemLv2 a.active .Link {
  color: #d33333;
}

.Version {
  font-variant: small-caps;
  font-size: 14px;
  font-style: italic;
  color: #cfcfcf;
  display: block;
  padding: 0 10px;
  margin-left: 0;
}



@media screen and (min-width: 769px) {
  .Sidebar {
    max-width: 250px;
    border-left: 10px solid #d33333;
    background: #fff;
    height: 100%;
  }

  .NavigationItem {
    display: block;
  }
  
  
  .NavigationItem a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
  }
  
  .Icon {
    display: block;
    padding: 0 10px;
    color: #cfcfcf;
  }
  
  .Label {
    color: #cfcfcf;
    padding: 0px 10px;
    margin: auto 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .NavigationItem a:hover {
    background: #cfcfcf;
    border-radius: 1000px;
  }


  
  .NavigationItem a:hover .Icon, 
  .NavigationItem a:hover .Label,
  .NavigationItem a:hover .Link {
    color: #333;
  }
  
  .NavigationItem a.active {
    background: #d33333;
    border-radius: 1000px;
  }
  
  .NavigationItem a.active .Icon,
  .NavigationItem a.active .Label {
    color: #fff;
  }
  
  
  .NavigationItemLv2 {
    display: block;
    padding-left: 40px;
  }

  .SubNavigateItem {
    display: inline;
    position: static;
  }

  .NavigationItem div.active .SubNavigateItem {
    display: inline;
    position: static;
  }
  
  .Link {
    color: #cfcfcf;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 10px;
  }
  
  .LabelLv2 {
    margin: auto 0;
    padding-left: 10px;
    font-size: 14px;
  }
  
  .NavigationItemLv2 a.active .Link {
    color: #fff;
  }
  
  .Version {
    font-variant: small-caps;
    font-size: 14px;
    font-style: italic;
    color: #cfcfcf;
    display: block;
    padding: 0 10px;
    margin-left: 0;
  }
  
  
  
}