.IconSidebar {
  height: 100%;
  width: 100%;
  max-width: 70px;
  list-style-type: none;
  padding: 0;
  background: #d33333;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.IconSidebar ul {
  padding: 0;
}


.NavigationItems li {
  flex-grow: 1;
}